.navBar {
    display: flex;
    justify-content: end;
}

.accueil, .service, .contact {
    color:#ffffff; 
    font-size:17.5px;
    font-weight: lighter;
    text-decoration: none;
}

.accueil:hover, .service:hover, .contact:hover{
    text-decoration: underline;
}

.home-page .accueil {
    color: #0084e3;
    text-decoration: underline;
}

.services-page .service {
    color: #0084e3;
    text-decoration: underline;
}

.contact-page .contact {
    color: #0084e3;
    text-decoration: underline;
}